#dialog-base {
    position: absolute;
    inset: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0003;
    font-size: 24px;
}

#dialog {
    background: #333;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
    border-radius: 20px;
    max-width: 80%;
    box-shadow: 0 0 30px black;
}

#header {
    font-size: 32px;
}

#content {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

#footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-weight: bold;
}

.action-link {
    cursor: pointer;
}
