@inherits ElementBase
<script>
    Blazor.registerCustomEventType('input2', {
        browserEventName: 'keypress',
        createEventArgs: (event) => { 
            if(event.key == 'Enter') event.preventDefault()
            return { key: event.key, value: event.srcElement.value ?? event.srcElement.innerText }
        }
    });
</script>

<IconRegistry></IconRegistry>
<LayoutView Layout="@typeof(PageLayout)">
    <Router AppAssembly="@GetType().Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" />
        </Found>
        <NotFound>
            <p>Sorry, there"s nothing at this address.</p>
        </NotFound>
        <Navigating>
            <PartialLoading></PartialLoading>
        </Navigating>
    </Router>

</LayoutView>