@inherits ElementBase

<div id="custom-toggle"
     three-values="@threeValues"
     state="@state"
     style="@(!string.IsNullOrEmpty(Color) ? $"--toggled-color: {Color}" : "")"
@onclick="@(()=>Toggle())"
@onclick:preventDefault
@onclick:stopPropagation>
    <div id="slider"></div>
</div>