@inherits ElementBase

<div id="custom-toggle"
     three-values="@threeValues"
     state="@state"
     style="--toggled-color: @(Color ?? "unset")"
@onclick="@(()=>Toggle())"
@onclick:preventDefault
@onclick:stopPropagation>
    <div id="slider"></div>
</div>