@inherits ElementBase

<div id="image-tile">
    <div id="container">
        <div id="image-content" style="background-image: url(@(Image))"></div>
        <div id="image-text">@(Caption)</div>
    </div>
</div>