@inherits ElementBase

@inject IJSRuntime JS

<div id="paginated-scrolling">
    <div class="scroll-container" @ref="ScrollContainer" @onscroll="@(() => CheckIfScrolledToBottom())">
        @ChildContent
    </div>
</div>