@inherits ElementBase

@inject IJSRuntime JS

<div id="paginated-scrolling">
    <div class="scroll-container" no-fade="@NoFade" @ref="ScrollContainer" @onscroll="@(() => CheckIfScrolledToBottomAsync())">
        @ChildContent
    </div>
</div>