@inherits ElementBase

<div class="side-scroller">
<div id="scroll-container">
    <a class="arrow-link @(CanScrollLeft ? "" : "disabled")"
       id="left-arrow"
        @onclick="@(() => Scroll.InvokeAsync(Direction.Left))">
        ◀
    </a>
    <div id="content-container" @onmousedown:preventDefault>
        <div id="item-container">
            <div class="inner-space" id="left-space"></div>
            @ChildContent
            <div class="inner-space" id="right-space"></div>
        </div>
    </div>
    <a class="arrow-link @(CanScrollRight ? "" : "disabled")"
       id="right-arrow"
       @onclick="@(() => Scroll.InvokeAsync(Direction.Right))">
        ▶
    </a>
</div>
</div>