<?xml version="1.0" encoding="utf-8"?>
<Root Type="DevExpress.CodeRush.Foundation.Options.OptionsDialogSettings">
  <Options Language="Neutral">
    <Left>264</Left>
    <Top>87.2</Top>
    <Width>1008.8</Width>
    <Height>649.6</Height>
    <PrimaryScreenWidth>1536</PrimaryScreenWidth>
    <PrimaryScreenHeight>864</PrimaryScreenHeight>
    <SelectedPageFullName>Editor\All Languages\Organize Members</SelectedPageFullName>
    <Language>C#</Language>
  </Options>
</Root>